@layer components{
    @media screen and (min-width: 1200px) {
        .heading1{
            font-family:'Iceland';
            font-size: 64px;
            color:#FFFFFF;
        }
        .heading2{
            font-family:'Iceland';
            font-size: 48px;
            color:#FFFFFF;
        }
        .heading3{
            font-family:'Iceland';
            font-size: 40px;
            color:#FFFFFF;
        }
        .heading4{
            font-family:'Iceland';
            font-size: 32px;
            color:#FFFFFF;
        }
    
        .paragraph1{
            font-family:'Iceland';
            font-size: 16px;
            color:#FFFFFF;
        }
    }

    @media screen and (min-width: 800px) and (max-width: 1199px) {
        .heading1{
            font-family:'Iceland';
            font-size: 48px;
            color:#FFFFFF;
        }
        .heading2{
            font-family:'Iceland';
            font-size: 40px;
            color:#FFFFFF;
        }
        .heading3{
            font-family:'Iceland';
            font-size: 32px;
            color:#FFFFFF;
        }
        .heading4{
            font-family:'Iceland';
            font-size: 24px;
            color:#FFFFFF;
        }
    
        .paragraph1{
            font-family:'Iceland';
            font-size: 14px;
            color:#FFFFFF;
        }
    }

    @media screen and (max-width: 799px) {
        .heading1{
            font-family:'Iceland';
            font-size: 24px;
            color:#FFFFFF;
        }
        .heading2{
            font-family:'Iceland';
            font-size: 20px;
            color:#FFFFFF;
        }
        .heading3{
            font-family:'Iceland';
            font-size: 16px;
            color:#FFFFFF;
        }
        .heading4{
            font-family:'Iceland';
            font-size: 14px;
            color:#FFFFFF;
        }
    
        .paragraph1{
            font-family:'Iceland';
            font-size: 12px;
            color:#FFFFFF;
        }
        
    }

    .button1{
        border:1px solid #FFFFFF;
        border-radius: 5px;
        font-family:'Iceland';
        font-size: 32px;
        font-weight: 400;
        color:#FFFFFF;
    }

    .navbar{
        background-color: #303030;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    @media screen and (min-width: 800px)  {
        .links{
            display: flex;
            justify-content: space-evenly;
            align-items: end;
            width: 20%;
        }
    }

    @media screen and (max-width: 799px) {
        .links{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 25%;
        }
    }
    
    .footer{
        padding-left:2%;
        padding-right:2%;
        display: flex;
        background-color: #303030;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: auto;
    }

    .footer li{
        list-style: none;
    }
    
    .Card{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 10%;
    }

    .Card p{
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .card-image{
        width: 100%;
        height: auto;
    }
    
    @media screen and (min-width:800px) {
        .card-image-wrapper {
            width: 100%;
            max-width: 400px;          
        }
    }

    @media screen and (max-width: 799px) {
    .card-image-wrapper {
        max-width: 200px;        
    }
    }

    .con{
        margin-top: 10%;
        display:flex;
        flex-direction: column;
    }

    .input{
        overflow: auto;
        border:#FFFFFF solid 1px;
        border-radius: 5px;
        width: 100%;
        outline: none;
        padding:.5%;
    }

    @media screen  and (min-width: 1200px) {
        .input{
            width: 900px;
            font-family:'Iceland';
            font-size: 16px;
            color:#FFFFFF;
        }
        
    }
    
    @media screen and (min-width: 800px) and (max-width: 1199px) {
        .input{
            width: 700px;
            font-family:'Iceland';
            font-size: 14px;
            color:#FFFFFF;
        }
    }

    @media screen and (max-width: 799px) {
        .input{
            width: 400px;
            font-family:'Iceland';
            font-size: 12px;
            color:#FFFFFF;
        }
    }

    
}