@layer utilities{
    .blue{
        color:#82B7DC;
    }
    .blued{
        color:#82B7DC;
        text-decoration: underline;
    }
    
    .contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    @media screen and (min-width: 1200px) {
        .coninfo{
        margin-top: 6%;
         margin-bottom: 5%;
        }
    }

    @media screen and (min-width: 800px) and (max-width: 1199px) {
        .coninfo{
        margin-top: 5%;
         margin-bottom: 5%;
        }
    }

    @media screen and (max-width: 799px) {
        .coninfo{
            margin-top: 10%;
            margin-bottom: 5%;
        }
    }
    

    .htop{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .hbottom{
        margin-top: 15%;
        margin-bottom: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .skills li{
         list-style: outside;
         text-align: left;
    }

    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2%;
    }
    
    .subem{
        display:flex;
        flex-direction: column;

        align-items: center;

        margin-top: 3%;
        text-align: left;
    }

    .sub{
        margin-top: 5%;
    }
}